@import '../../style/variables.scss';

.header{
    height: 137px;
    padding-top: 50px;
    padding-bottom: 50px;
    &__wrapper{
        display: flex;
        justify-content: space-between;
    }
    &__title{
        color: $dark;
        font-family: Roboto Condensed;
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        a{
            span{
                color: $main-color;
            }
            color: #000;
            &:hover{
                color: #000;
                text-decoration: none;
            }
        }
    }
    &__filter{
        color: #000;
        font-family: Roboto Condensed;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    &__char{
        color: #000;
        &:hover{
            color: #000;
        }
    }
    &__comics{
        color: $main-color;
        &:hover{
            color: $main-color;
        }
    }
    
}