.heroName{
    width: 425px;
    height: 100%;
    background: #FFF;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
    padding: 25px 25px 24px 25px;
    margin-top: 50px;
    position: relative;
    &__avatar{
        display: flex;
        width: 276px;
        justify-content: space-between;
        img{
            width: 150px;
            height: 150px;
        }
    }
    &__name{
        color: #000;
        font-family: Roboto Condensed;
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        width: 101px;
    }
    &__buttons-wrapper{
        margin-top: 35px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 86px;
    }
    &__descr{
        color: #000;
        margin-top: 15px;
        font-family: Roboto Condensed;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    &__comics{
        color: #000;
        margin-top: 10px;
        margin-bottom: 10px;
        font-family: Roboto Condensed;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    &__comicses{
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
}